body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: #010303;
    width: 100%;
    height: auto;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background: #53c4d9;
}

.title-Site{
    display: block;
    font-family: 'Quantico', sans-serif;
    font-size: 1.5em;

}

.title-Site1{
    color: #53c4d9;
    background-color: white;
    padding: 50% 0.1em 50% 0.25em;
    height: auto;
    margin-left: 0;
}

.title-Site2{
    color: white;
    background-color: #53c4d9;
    padding-right: 0.25em;
    padding-left: 0.1em;
    padding-bottom: 50%;
    padding-top: 50%;
    height: auto;
}

.presentation{
    height: 20em;
    overflow: hidden;
}

.presentation-img{
    width: 100%;
}

.presentation-panel{
    height: 15em;
    width: 90%;
    background: rgba(63, 148, 169, 0.81);
    color: white;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow:  0 0 35px 35px rgba(63, 148, 169, 0.81);

}

.presentation-text{
    color: white;
    font-size: larger;
    font-weight: bolder;
    position: absolute;
    top: 45%;
    left: 25%;
}

.projects{
    height: available;
    width: 100%;
    background: #010303;
}

.footer{
    height: 4em;
    background: #010303;
}
